html,body{
    margin: 0;
    padding: 0; 
}

body{
    align-items: center;
    background: whitesmoke; 
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 100vh;
    justify-items: center;
}

.author{
    position: fixed;
    bottom: 35px;
    left: 45%;
}

.chartContainer{
    background: linear-gradient(rgb(66, 29, 153),rgb(223, 223, 224));
    grid-area: 1/2/2/3;
    height: fit-content;
    width: fit-content;
}

svg{
    box-shadow: 0 0 30px gray;
    padding:50px;
}

.title{ 
    fill: white;
    font-size: 30px; 
    text-shadow: 0 0 3px black;
} 

.axisLabel{
    fill: white;  
    font-size: 20px;
    text-shadow: 0 0 2px black;

}

.bar{ 
    transition-duration: .25s;
} 

.bar:hover{
    fill: whitesmoke;
}

.hoverMessage{ 
    align-items: center;
    background-color: rgb(244, 243, 250); 
    border-radius: 15px; 
    box-shadow: 0 0 5px black;
    color: black; 
    display: grid;
    opacity: 0;  
    padding: 0 5px;
    position: absolute; 
    justify-content: center; 
    text-align: center;
    width: fit-content;
} 

.hoverMessaji b{
    display: inline;
}

.author{
    grid-area: 1/2/2/3;
    text-shadow: 0 0 5px gainsboro;
    text-align: center;
}

@media (max-width:480px){
    body{
        display: block;
    }
}


@media (max-height:480px){
    body{
        display: block;
    }
}